location     = "francecentral"
project_name = "azure-legacy-migration-lab"
environment  = "dev"
owner        = "your-name"
acr_name     = "acruniquename001"
aks_name         = "aks-azure-legacy-migration-dev"
aks_dns_prefix   = "aks-azlegacy-dev"
aks_node_resource_group_name = "rg-something"
aks_node_count   = 1
aks_node_vm_size = "Standard_B2s"
aks_location = "westeurope"